# Auto-added during alignment sweep
__pycache__/server.cpython-311.pyc
dist/meok_nis2_nl_register_mcp-1.0.1-py3-none-any.whl
dist/meok_nis2_nl_register_mcp-1.0.1.tar.gz
__pycache__/.!14062!server.cpython-311.pyc
__pycache__/.!9052!server.cpython-311.pyc
